@import 'sass-bootstrap/lib/bootstrap';

body {
  padding-top: 15px;
  padding-bottom: 15px;
}

.panel-heading[data-toggle] {
  cursor: pointer;
}

.actions button {
  margin-bottom: 0.5em;
}

#strength #signal-bars {
  display: inline-block;
}

#strength .text {
  font-weight: bold;
}
